@*
// Project: EatDrinkFit.Web
// File: Views/Dashboard/Index.cshtml
// Origonially designed for ASP.NET Core 8.0

// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

// Copyright (C) 2024 Michael Peterson <14036481+z3nf1n1ty@users.noreply.github.com>

// SPDX-FileCopyrightText: 2024 Michael Peterson <14036481+z3nf1n1ty@users.noreply.github.com>
// SPDX-License-Identifier: Mozilla Public License 2.0
// FileContributor: Original contributer Michael Peterson 14036481+z3nf1n1ty@users.noreply.github.com
// FileContributor:
*@

@{
    ViewData["Title"] = "Dashboard";

    ViewData["SideNavDashboardClassActive"] = "active";

    ViewData["ContentHeaderBreadcrumb"] =
        @"
        <li class=""breadcrumb-item""><a href=""/"">Home</a></li>
        <li class=""breadcrumb-item active"">Dashboard</li>
        ";

    // Script that will be triggered by jqury after the page loades. This is place at the bottom of the shared layout.
    ViewData["ScriptsLastSharedLayout1"] =
        @"
        <script>
        $(function () {
        dashboadIndexJS();
        })
        </script>
        ";
}

@model EatDrinkFit.Web.Models.DashboardViewModel

<script type="text/javascript">
    function dashboadIndexJS() {

		var calorieChartLabels=[];
		var caloriesChartDate=[];

	@if (Model.DashboardCalorieChartModels is not null && Model.DashboardCalorieChartModels.Count > 0)
	{
        // foreach (var item in Model.DashboardCalorieChartModels)
        // {
        // 	@:calorieChartLabels.push('@item.Date');
        // 	@:caloriesChartDate.push('@item.Calories');
        // }

        for (int i = Model.DashboardCalorieChartModels.Count - 1; i >= 0; i--)
        {
            @:calorieChartLabels.push('@Model.DashboardCalorieChartModels[i].Date');
            @:caloriesChartDate.push('@Model.DashboardCalorieChartModels[i].Calories');
        }
    }

        dashboardCaloriesChart(calorieChartLabels, caloriesChartDate);

        var macroChartLabels = [];
        var macroChartFatDate = [];
        var macroChartCarbDate = [];
        var macroChartProteinDate = [];

    @if (Model.DashboardMacroChartModels is not null && Model.DashboardMacroChartModels.Count > 0)
    {
        // foreach (var item in Model.DashboardCalorieChartModels)
        // {
        // 	@:calorieChartLabels.push('@item.Date');
        // 	@:caloriesChartDate.push('@item.Calories');
        // }

        for (int i = Model.DashboardMacroChartModels.Count - 1; i >= 0; i--)
        {
            @:macroChartLabels.push('@Model.DashboardMacroChartModels[i].Date');
            @:macroChartFatDate.push('@Model.DashboardMacroChartModels[i].Fat');
            @:macroChartCarbDate.push('@Model.DashboardMacroChartModels[i].Carb');
            @:macroChartProteinDate.push('@Model.DashboardMacroChartModels[i].Protein');
        }
    }

            dashboardMacroChart(macroChartLabels, macroChartFatDate, macroChartCarbDate, macroChartProteinDate);

        var microChartLabels = [];
        var microChartCholesteroltDate = [];
        var microChartSodiumDate = [];
        var microChartFiberDate = [];
        var microChartSugarDate = [];

    @if (Model.DashboardMicroChartModels is not null && Model.DashboardMicroChartModels.Count > 0)
    {
        // foreach (var item in Model.DashboardCalorieChartModels)
        // {
        // 	@:calorieChartLabels.push('@item.Date');
        // 	@:caloriesChartDate.push('@item.Calories');
        // }

        for (int i = Model.DashboardMicroChartModels.Count - 1; i >= 0; i--)
        {
            @:microChartLabels.push('@Model.DashboardMicroChartModels[i].Date');
            @:microChartCholesteroltDate.push('@Model.DashboardMicroChartModels[i].Cholesterol');
            @:microChartSodiumDate.push('@Model.DashboardMicroChartModels[i].Sodium');
            @:microChartFiberDate.push('@Model.DashboardMicroChartModels[i].Fiber');
            @:microChartSugarDate.push('@Model.DashboardMicroChartModels[i].Sugar');
        }
    }

            dashboardMicroChart(microChartLabels, microChartCholesteroltDate, microChartSodiumDate, microChartFiberDate, microChartSugarDate);

        var percentCalChartLabels = [];
        var percentCalChartOtherData = [];
        var percentCalChartFatData = [];
        var percentCalChartCarbData = [];
        var percentCalChartProteinData = [];

    @if (Model.DashboardPercentCalChartModel is not null && Model.DashboardPercentCalChartModel.Count > 0)
    {
        // foreach (var item in Model.DashboardCalorieChartModels)
        // {
        // 	@:calorieChartLabels.push('@item.Date');
        // 	@:caloriesChartDate.push('@item.Calories');
        // }

        for (int i = Model.DashboardPercentCalChartModel.Count - 1; i >= 0; i--)
        {
            @:percentCalChartLabels.push('@Model.DashboardPercentCalChartModel[i].Date');
            @:percentCalChartOtherData.push('@Model.DashboardPercentCalChartModel[i].PercentOther');
            @:percentCalChartFatData.push('@Model.DashboardPercentCalChartModel[i].PercentFat');
            @:percentCalChartCarbData.push('@Model.DashboardPercentCalChartModel[i].PercentCarb');
            @:percentCalChartProteinData.push('@Model.DashboardPercentCalChartModel[i].PercentProtein');
        }
    }

            dashboardPercentCaloriesChart(percentCalChartLabels, percentCalChartOtherData, percentCalChartFatData, percentCalChartCarbData, percentCalChartProteinData);
	}
</script>

<div class="row">

	<div class="col-xl-auto">
		<div class="card card-secondary">
			<div class="card-header">
				<h3 class="card-title">Quick Log Items</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
			</div>
			<div class="card-body">

				<a class="btn btn-app">
					<i class="fas fa-play"></i> Play
				</a>

				<a class="btn btn-app">
					<i class="fas fa-play"></i> Play
				</a>

				<a class="btn btn-app">
					<i class="fas fa-play"></i> Play
				</a>

				<a class="btn btn-app">
					<i class="fas fa-play"></i> Play
				</a>

				<a class="btn btn-app">
					<i class="fas fa-play"></i> Play
				</a>

			</div>
		</div>
	</div>

	<div class="col-xl">

		<div class="card card-danger">
			<div class="card-header">
				<h3 class="card-title">Percent Calories from Macros Chart</h3>
				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse">
						<i class="fas fa-minus"></i>
					</button>
				</div>
			</div>
			<div class="card-body">
				<canvas id="PercentCaloriesChart" style="min-height: 64px; height: 64px; max-height: 64px; max-width: 100%;"></canvas>
			</div>

		</div>

	</div>

</div>

<div class="row">

    <div class="col-xl">
        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title">Daily Calories | Last 14 Days | Goal: 1800-2000cal</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="chart">
                    <canvas id="CaloriesBarChart" style="min-height: 350px; height: 350px; max-height: 350px; max-width: 100%;"></canvas>
                </div>
            </div>

        </div>
    </div>
    
</div>

<div class="row">

    <div class="col-xl-6">

        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Daily Macros | Last 7 Days | Goal: 140+ g Protein</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="chart">
                    <canvas id="MacrosBarChart" style="min-height: 350px; height: 350px; max-height: 350px; max-width: 100%;"></canvas>
                </div>
            </div>

        </div>
    </div>

    <div class="col-xl-6">

        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Daily Micros | Last 7 Days | Goal: 140+ g Protein</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="chart">
                    <canvas id="MicrosBarChart" style="min-height: 350px; height: 350px; max-height: 350px; max-width: 100%;"></canvas>
                </div>
            </div>

        </div>
    </div>

    </div>

</div>